.product-grid { 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 15px;
    grid-row-gap: 15px; 
}

* {
    background-color: lightsalmon;
}

p, h1 {
    display: flex;
    justify-content: center;
}